[ssh_connection]
# Solves: "fatal: [app] => failed to transfer file to /home/vagrant/.ansible/tmp/ansible-tmp-1429793445.5-15640519371997/setup:" 
scp_if_ssh=True

[defaults]
# Prevent: complaints about changed host IDs 
host_key_checking=False

# You can uncomment this so you do not have to provide:
#  --vault-password-file=environment/stepup-ansible-vault-password
# To each Ansible command.
# Note: conflicts with init-env.sh (create_new_environment.sh)
#
#vault_password_file = environment/stepup-ansible-vault-password
